/* [project]/Library/Mobile Documents/com~apple~CloudDocs/BLife/BFriends/Webdev/bfriends/components/LandingPage/HeroContent.module.css [app-client] (css) */
@keyframes HeroContent-module__gNA6_a__pulse {
  50% {
    opacity: .5;
  }
}

.HeroContent-module__gNA6_a__heroContainer {
  z-index: 30;
  text-align: center;
  pointer-events: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
  margin-top: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  position: relative;
}

.HeroContent-module__gNA6_a__heroSubtitle {
  font-family: var(--font-pontano);
  letter-spacing: .6em;
  color: var(--color-bfriends-darkbluegray);
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: .75rem;
}

@media (max-width: 640px) {
  .HeroContent-module__gNA6_a__heroSubtitle {
    letter-spacing: .4em;
    margin-bottom: .75rem;
    font-size: .65rem;
  }
}

@media (min-width: 768px) {
  .HeroContent-module__gNA6_a__heroSubtitle {
    font-size: .75rem;
  }
}

.HeroContent-module__gNA6_a__heroTitle {
  font-family: var(--font-belleza);
  color: var(--color-bfriends-darkbluegray);
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .HeroContent-module__gNA6_a__heroTitle {
    font-size: 3.6rem;
  }
}

@media (max-width: 1440px) {
  .HeroContent-module__gNA6_a__heroTitle {
    font-size: 3.2rem;
  }
}

@media (max-width: 1024px) {
  .HeroContent-module__gNA6_a__heroTitle {
    margin-bottom: 2rem;
    font-size: 3.8rem;
  }
}

@media (max-width: 640px) {
  .HeroContent-module__gNA6_a__heroTitle {
    margin-bottom: 1.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 2rem;
  }
}

.HeroContent-module__gNA6_a__heroHighlight {
  color: var(--color-bfriends-orange-100);
  font-style: italic;
}

.HeroContent-module__gNA6_a__heroHighlightBorder {
  white-space: nowrap;
  color: var(--color-bfriends-orange-100);
  font-style: italic;
  display: inline-block;
  position: relative;
}

.HeroContent-module__gNA6_a__heroHighlightUnderline {
  background-color: var(--color-bfriends-orange-100);
  transform-origin: bottom;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.HeroContent-module__gNA6_a__scrollButton {
  cursor: pointer;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
  transform: translate(0);
}

.HeroContent-module__gNA6_a__scrollButton:hover {
  transform: scale(1.02);
}

.HeroContent-module__gNA6_a__scrollButtonText {
  color: var(--color-bfriends-darkbluegray);
  font-weight: 400;
  font-family: var(--font-pontano);
  border: 1px solid #2e4565;
  border-radius: .75rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.HeroContent-module__gNA6_a__scrollButtonIcon {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-bfriends-darkbluegray);
  color: var(--color-bfriends-darkbluegray);
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

/*# sourceMappingURL=6902a_BFriends_Webdev_bfriends_components_LandingPage_HeroContent_module_css_bad6b30c._.single.css.map*/