/* [project]/components/LandingPage/SubscriptionForm.module.css [app-client] (css) */
.SubscriptionForm-module__i73kDa__formContainer {
  width: 100%;
}

.SubscriptionForm-module__i73kDa__form {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.SubscriptionForm-module__i73kDa__inputWrapper {
  position: relative;
}

.SubscriptionForm-module__i73kDa__inputIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-beige-80);
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.SubscriptionForm-module__i73kDa__inputField {
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-white-40);
  width: 100%;
  color: var(--color-white-100);
  background-color: #ffffff0d;
  border-radius: .75rem;
  padding: 1rem 1rem 1rem 3rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.SubscriptionForm-module__i73kDa__inputField::placeholder {
  color: var(--color-white-80);
}

.SubscriptionForm-module__i73kDa__inputField:focus {
  box-shadow: 0 0 0 2px var(--color-cream-100);
  border-color: #0000;
  outline: none;
}

.SubscriptionForm-module__i73kDa__submitButton {
  cursor: pointer;
  align-items: stretch;
  width: 100%;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
  transform: translate(0);
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
}

.SubscriptionForm-module__i73kDa__submitButton:hover {
  transform: scale(1.02);
}

.SubscriptionForm-module__i73kDa__submitButtonText {
  background-color: var(--color-cream-100);
  color: var(--color-white-100);
  font-weight: 400;
  font-family: var(--font-sans);
  border-radius: .75rem;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__i73kDa__submitButton:hover .SubscriptionForm-module__i73kDa__submitButtonText {
  background-color: var(--color-cream-120);
}

.SubscriptionForm-module__i73kDa__submitButtonIcon {
  background-color: var(--color-cream-100);
  color: var(--color-white-100);
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__i73kDa__submitButton:hover .SubscriptionForm-module__i73kDa__submitButtonIcon {
  background-color: var(--color-cream-120);
}

.SubscriptionForm-module__i73kDa__successContainer {
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
}

.SubscriptionForm-module__i73kDa__successMessage {
  text-align: center;
  background-color: #ffffff1a;
  border: 1px solid #fff3;
  border-radius: 1rem;
  padding: 1.5rem;
}

.SubscriptionForm-module__i73kDa__successIconWrapper {
  background-color: var(--color-cream-100);
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.SubscriptionForm-module__i73kDa__successTitle {
  color: var(--color-white-100);
  font-family: var(--font-script);
  margin-bottom: .5rem;
  font-size: clamp(1.1rem, 1rem + .5vw, 1.4rem);
}

.SubscriptionForm-module__i73kDa__successText {
  color: var(--color-white-100);
  opacity: .8;
  font-family: var(--font-sans);
  font-size: clamp(.8rem, .75rem + .5vw, 1rem);
}

.SubscriptionForm-module__i73kDa__resetButtonText {
  background-color: var(--color-white-20);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-white-40);
  color: var(--color-white-100);
  font-weight: 400;
  font-family: var(--font-sans);
  border-radius: .75rem;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__i73kDa__submitButton:hover .SubscriptionForm-module__i73kDa__resetButtonText {
  background-color: var(--color-white-40);
}

.SubscriptionForm-module__i73kDa__resetButtonIcon {
  background-color: var(--color-white-20);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-white-40);
  color: var(--color-white-100);
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__i73kDa__submitButton:hover .SubscriptionForm-module__i73kDa__resetButtonIcon {
  background-color: var(--color-white-40);
}

/*# sourceMappingURL=components_LandingPage_SubscriptionForm_module_css_bad6b30c._.single.css.map*/