/* [project]/components/Footer/Footer.module.css [app-client] (css) */
.Footer-module__rnk_JG__footerSection {
  background-color: var(--color-blue-100);
  color: var(--color-beige-100);
  font-family: var(--font-sans);
  z-index: 50;
  padding-top: 64px;
  padding-bottom: 32px;
  position: relative;
}

.Footer-module__rnk_JG__container {
  box-sizing: border-box;
  text-align: left;
  background: linear-gradient(#b29a7c00, #b29a7c40), linear-gradient(#fefefe, #fefefe);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 96px;
  width: 100%;
  padding: 0 0 96px;
  font-family: Hanken Grotesk;
  font-size: 16px;
  display: flex;
  position: relative;
}

.Footer-module__rnk_JG__container2 {
  place-content: start;
  align-self: stretch;
  column-gap: 24px;
  display: grid;
  overflow: hidden;
}

.Footer-module__rnk_JG__menu-item {
  box-sizing: border-box;
  border-top: 1px solid #b29a7c66;
  border-bottom: 1px solid #b29a7c66;
  border-left: 1px solid #b29a7c66;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  height: 100%;
  padding: 48px;
  display: flex;
  position: absolute;
  top: 0;
  left: 1080px;
}

.Footer-module__rnk_JG__title {
  letter-spacing: -.04em;
  background: none, #fefefe;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
  line-height: 100%;
  position: relative;
}

.Footer-module__rnk_JG__title2 {
  letter-spacing: -.04em;
  background: none, #fff3;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 100%;
  position: relative;
}

.Footer-module__rnk_JG__menu-item2 {
  box-sizing: border-box;
  border-top: 1px solid #b29a7c66;
  border-bottom: 1px solid #b29a7c66;
  border-left: 1px solid #b29a7c66;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 48px;
  display: flex;
  position: absolute;
  top: 0;
  left: 720px;
}

.Footer-module__rnk_JG__menu-item3 {
  box-sizing: border-box;
  border-top: 1px solid #b29a7c66;
  border-bottom: 1px solid #b29a7c66;
  border-left: 1px solid #b29a7c66;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  padding: 48px;
  display: flex;
  position: absolute;
  top: 0;
  left: 360px;
}

.Footer-module__rnk_JG__menu-item4 {
  box-sizing: border-box;
  border-top: 1px solid #b29a7c66;
  border-bottom: 1px solid #b29a7c66;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 48px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.Footer-module__rnk_JG__container3 {
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  gap: 24px;
  display: flex;
}

.Footer-module__rnk_JG__address {
  letter-spacing: -.04em;
  background: none, #fff3;
  -webkit-text-fill-color: transparent;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-background-clip: text;
  -webkit-box-orient: vertical;
  align-self: stretch;
  line-height: 120%;
  display: -webkit-inline-box;
  position: relative;
  overflow: hidden;
}

.Footer-module__rnk_JG__container4 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-family: Inter;
  display: flex;
}

.Footer-module__rnk_JG__title22 {
  letter-spacing: -.04em;
  background: none, #fefefe;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: Hanken Grotesk;
  font-weight: 600;
  line-height: 100%;
  position: relative;
}

.Footer-module__rnk_JG__container5 {
  align-items: center;
  gap: 4px;
  display: flex;
}

.Footer-module__rnk_JG__icon {
  width: 16px;
  max-height: 100%;
  position: relative;
}

.Footer-module__rnk_JG__email {
  letter-spacing: -.04em;
  background: none, #fff3;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 100%;
  text-decoration: underline;
  position: relative;
}

.Footer-module__rnk_JG__container8 {
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: Geist;
  font-size: 40px;
  display: flex;
}

.Footer-module__rnk_JG__bfriends-logo {
  align-items: flex-start;
  display: flex;
}

.Footer-module__rnk_JG__b-parent {
  align-items: center;
  gap: 5px;
  display: flex;
}

.Footer-module__rnk_JG__b-icon {
  width: 56px;
  height: 56px;
  position: relative;
}

.Footer-module__rnk_JG__friends-icon {
  width: 210.4px;
  height: 35.5px;
  position: relative;
}

.Footer-module__rnk_JG__rounded-rectangle {
  background: none, #fff3;
  width: 1px;
  height: 100px;
  position: relative;
}

.Footer-module__rnk_JG__tagline {
  letter-spacing: -.04em;
  background: none, #fff3;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  line-height: 120%;
  position: relative;
}

.Footer-module__rnk_JG__which {
  font-weight: 300;
}

.Footer-module__rnk_JG__span {
  font-weight: 500;
}

.Footer-module__rnk_JG__friend {
  font-family: Libre Bodoni;
}

.Footer-module__rnk_JG__description {
  letter-spacing: -.02em;
  background: none, #fff3;
  -webkit-text-fill-color: transparent;
  text-align: right;
  -webkit-background-clip: text;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  position: relative;
}

/*# sourceMappingURL=components_Footer_Footer_module_css_bad6b30c._.single.css.map*/