/* [project]/components/Navbar/Navbar.module.css [app-client] (css) */
.Navbar-module__dVeNwG__navbar {
  z-index: 1000;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 72px;
  transition: background-color .3s, color .3s, transform .3s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__visible {
  transform: translateY(0);
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__hidden {
  transform: translateY(-100%);
}

.Navbar-module__dVeNwG__mainContainer {
  box-sizing: border-box;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  display: grid;
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default {
  background-color: #0003;
  border-bottom: 1px solid #fff3;
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__scrolled {
  background-color: var(--color-white-100);
  border-bottom: 1px solid var(--color-blue-20);
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default:has(.Navbar-module__dVeNwG__menuContainer:hover) {
  background-color: var(--color-white-100);
  border-bottom: 1px solid var(--color-blue-20);
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default:has(.Navbar-module__dVeNwG__menuContainer:hover) .Navbar-module__dVeNwG__left {
  background-color: #0000;
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default:has(.Navbar-module__dVeNwG__menuContainer:hover) .Navbar-module__dVeNwG__logo {
  filter: brightness(0);
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default:has(.Navbar-module__dVeNwG__menuContainer:hover) .Navbar-module__dVeNwG__menuLink {
  color: var(--color-blue-100);
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default:has(.Navbar-module__dVeNwG__menuContainer:hover) .Navbar-module__dVeNwG__contactButton {
  --button-border-color: var(--color-blue-100);
  color: var(--color-blue-100);
}

.Navbar-module__dVeNwG__navbar.Navbar-module__dVeNwG__default:has(.Navbar-module__dVeNwG__menuContainer:hover) .Navbar-module__dVeNwG__mobileMenuButton {
  color: var(--color-blue-100);
  border-left: 1px solid #0000001a;
}

.Navbar-module__dVeNwG__left {
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  display: flex;
}

.Navbar-module__dVeNwG__default .Navbar-module__dVeNwG__left {
  background-color: var(--color-cream-100);
  width: fit-content;
  height: 72px;
}

.Navbar-module__dVeNwG__logoLink {
  align-items: center;
  text-decoration: none;
  display: flex;
}

.Navbar-module__dVeNwG__logo {
  object-fit: contain;
  width: auto;
  height: 24px;
  transition: filter .3s;
}

.Navbar-module__dVeNwG__default .Navbar-module__dVeNwG__logo {
  filter: brightness(0) invert();
}

.Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__logo {
  filter: brightness(0);
}

.Navbar-module__dVeNwG__menuContainer {
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  padding: 0 32px;
  display: flex;
}

.Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__menuContainer {
  background-color: #0000;
}

.Navbar-module__dVeNwG__menuLink {
  font-family: var(--font-display);
  letter-spacing: -.02em;
  color: var(--color-white-100);
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s;
}

.Navbar-module__dVeNwG__menuLink:hover {
  opacity: .8;
  font-weight: 400;
}

.Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__menuLink {
  color: var(--color-blue-100);
}

.Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__menuLink:hover {
  opacity: .8;
}

.Navbar-module__dVeNwG__right {
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding-right: 24px;
  display: flex;
}

.Navbar-module__dVeNwG__contactButton {
  --button-border-color: var(--color-white-100);
}

.Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__contactButton {
  --button-border-color: var(--color-blue-100);
}

.Navbar-module__dVeNwG__contactButton .Navbar-module__dVeNwG__textPart, .Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__contactButton .Navbar-module__dVeNwG__textPart {
  color: inherit;
}

.Navbar-module__dVeNwG__default .Navbar-module__dVeNwG__contactButton {
  color: var(--color-white-100);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid #fefefe99;
}

.Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__contactButton {
  color: var(--color-blue-100);
}

.Navbar-module__dVeNwG__bookButton {
  --button-primary-fill: var(--color-cream-100);
}

.Navbar-module__dVeNwG__mobileMenuButton {
  color: var(--color-white-100);
  display: none;
}

.Navbar-module__dVeNwG__mobileDropdown {
  background-color: var(--color-white-100);
  z-index: 1001;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: calc(100svh - 73px);
  margin-top: 73px;
  animation: .3s ease-out Navbar-module__dVeNwG__fadeIn;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

@keyframes Navbar-module__dVeNwG__fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Navbar-module__dVeNwG__mobileMenuLinks {
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  display: flex;
}

.Navbar-module__dVeNwG__mobileMenuLink {
  font-family: var(--font-display);
  letter-spacing: -.02em;
  color: var(--color-blue-100);
  border-bottom: 1px solid #0000000d;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s;
}

.Navbar-module__dVeNwG__mobileMenuLink:hover {
  opacity: .8;
}

.Navbar-module__dVeNwG__mobileMenuLink:last-child {
  border-bottom: none;
}

.Navbar-module__dVeNwG__mobileMenuButtons {
  flex-direction: row;
  gap: 16px;
  padding: 32px 24px 24px;
  display: flex;
}

.Navbar-module__dVeNwG__mobileContactButton {
  --button-border-color: var(--color-blue-100);
  width: 100%;
  color: var(--color-blue-100);
}

.Navbar-module__dVeNwG__mobileBookButton {
  --button-primary-fill: var(--color-cream-100);
  width: 100%;
}

@media (max-width: 1024px) {
  .Navbar-module__dVeNwG__mainContainer {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .Navbar-module__dVeNwG__menuContainer, .Navbar-module__dVeNwG__right {
    display: none;
  }

  .Navbar-module__dVeNwG__left {
    padding: 24px;
  }

  .Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__left {
    background-color: #0000;
  }

  .Navbar-module__dVeNwG__logo {
    height: 20px;
  }

  .Navbar-module__dVeNwG__mobileMenuButton {
    cursor: pointer;
    color: var(--color-white-100);
    background: none;
    border: none;
    border-left: 1px solid #fff3;
    justify-content: center;
    align-items: center;
    padding: 24px;
    transition: opacity .2s, color .3s;
    display: flex;
  }

  .Navbar-module__dVeNwG__mobileMenuButton:hover {
    opacity: .8;
  }

  .Navbar-module__dVeNwG__scrolled .Navbar-module__dVeNwG__mobileMenuButton {
    color: var(--color-blue-100);
    border-left: 1px solid #0000001a;
  }

  .Navbar-module__dVeNwG__navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }

  .Navbar-module__dVeNwG__mainContainer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
  }
}

/*# sourceMappingURL=components_Navbar_Navbar_module_css_bad6b30c._.single.css.map*/