/* [project]/Library/Mobile Documents/com~apple~CloudDocs/BLife/BFriends/Webdev/bfriends/components/LandingPage/SubscriptionForm.module.css [app-client] (css) */
.SubscriptionForm-module__AEpMvG__formContainer {
  width: 100%;
}

.SubscriptionForm-module__AEpMvG__form {
  flex-direction: column;
  gap: 1rem;
  display: flex;
}

.SubscriptionForm-module__AEpMvG__inputWrapper {
  position: relative;
}

.SubscriptionForm-module__AEpMvG__inputIcon {
  color: #f6f4ddb3;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.SubscriptionForm-module__AEpMvG__inputField {
  color: #fff;
  background-color: #ffffff0d;
  border: 1px solid #fff3;
  border-radius: .75rem;
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.SubscriptionForm-module__AEpMvG__inputField::placeholder {
  color: #ffffff80;
}

.SubscriptionForm-module__AEpMvG__inputField:focus {
  box-shadow: 0 0 0 2px var(--color-bfriends-orange-100);
  border-color: #0000;
  outline: none;
}

.SubscriptionForm-module__AEpMvG__submitButton {
  cursor: pointer;
  align-items: stretch;
  width: 100%;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
  transform: translate(0);
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
}

.SubscriptionForm-module__AEpMvG__submitButton:hover {
  transform: scale(1.02);
}

.SubscriptionForm-module__AEpMvG__submitButtonText {
  background-color: var(--color-bfriends-orange-100);
  color: #fff;
  font-weight: 400;
  font-family: var(--font-pontano);
  border-radius: .75rem;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__AEpMvG__submitButton:hover .SubscriptionForm-module__AEpMvG__submitButtonText {
  background-color: #e5852ce6;
}

.SubscriptionForm-module__AEpMvG__submitButtonIcon {
  background-color: var(--color-bfriends-orange-100);
  color: #fff;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__AEpMvG__submitButton:hover .SubscriptionForm-module__AEpMvG__submitButtonIcon {
  background-color: #e5852ce6;
}

.SubscriptionForm-module__AEpMvG__successContainer {
  flex-direction: column;
  gap: 1.5rem;
  display: flex;
}

.SubscriptionForm-module__AEpMvG__successMessage {
  text-align: center;
  background-color: #ffffff1a;
  border: 1px solid #fff3;
  border-radius: 1rem;
  padding: 1.5rem;
}

.SubscriptionForm-module__AEpMvG__successIconWrapper {
  background-color: var(--color-bfriends-orange-100);
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.SubscriptionForm-module__AEpMvG__successTitle {
  color: #fff;
  font-family: var(--font-belleza);
  margin-bottom: .5rem;
  font-size: 1.25rem;
}

.SubscriptionForm-module__AEpMvG__successText {
  color: #fffc;
  font-family: var(--font-pontano);
  font-size: .875rem;
}

.SubscriptionForm-module__AEpMvG__resetButtonText {
  color: #fff;
  font-weight: 400;
  font-family: var(--font-pontano);
  background-color: #ffffff1a;
  border: 1px solid #fff3;
  border-radius: .75rem;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__AEpMvG__submitButton:hover .SubscriptionForm-module__AEpMvG__resetButtonText {
  background-color: #fff3;
}

.SubscriptionForm-module__AEpMvG__resetButtonIcon {
  color: #fff;
  background-color: #ffffff1a;
  border: 1px solid #fff3;
  border-radius: .75rem;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.SubscriptionForm-module__AEpMvG__submitButton:hover .SubscriptionForm-module__AEpMvG__resetButtonIcon {
  background-color: #fff3;
}

/*# sourceMappingURL=d2c52_Webdev_bfriends_components_LandingPage_SubscriptionForm_module_css_bad6b30c._.single.css.map*/