@reference "../../app/globals.css";

/* Footer Section */
.footerSection {
  background-color: var(--color-blue-100);
  color: var(--color-beige-100);
  padding-top: 64px;
  padding-bottom: 32px;
  font-family: var(--font-sans);
  position: relative;
  z-index: 50;
}

.container {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, rgba(178, 154, 124, 0), rgba(178, 154, 124, 0.25)), linear-gradient(#fefefe, #fefefe);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 96px;
  box-sizing: border-box;
  gap: 96px;
  text-align: left;
  font-size: 16px;
  font-family: 'Hanken Grotesk';
}

.container2 {
  align-self: stretch;
  overflow: hidden;
  display: grid;
  justify-content: start;
  align-content: start;
  column-gap: 24px;
}

.menu-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 1080px;
  border-top: 1px solid rgba(178, 154, 124, 0.4);
  border-bottom: 1px solid rgba(178, 154, 124, 0.4);
  border-left: 1px solid rgba(178, 154, 124, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 24px;
}

.title {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 100%;
  font-weight: 600;
  background: #b29a7c, #fefefe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title2 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 100%;
  background: #134053, rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-item2 {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 720px;
  border-top: 1px solid rgba(178, 154, 124, 0.4);
  border-bottom: 1px solid rgba(178, 154, 124, 0.4);
  border-left: 1px solid rgba(178, 154, 124, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 24px;
}

.menu-item3 {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 360px;
  border-top: 1px solid rgba(178, 154, 124, 0.4);
  border-bottom: 1px solid rgba(178, 154, 124, 0.4);
  border-left: 1px solid rgba(178, 154, 124, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px;
  gap: 24px;
}

.menu-item4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 1px solid rgba(178, 154, 124, 0.4);
  border-bottom: 1px solid rgba(178, 154, 124, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 48px;
  gap: 20px;
}

.container3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.address {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.04em;
  line-height: 120%;
  background: #134053, rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-family: Inter;
}

.title22 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 100%;
  font-weight: 600;
  font-family: 'Hanken Grotesk';
  background: #b29a7c, #fefefe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container5 {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  width: 16px;
  position: relative;
  max-height: 100%;
}

.email {
  position: relative;
  text-decoration: underline;
  letter-spacing: -0.04em;
  line-height: 100%;
  background: #134053, rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container8 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 40px;
  font-family: Geist;
}

.bfriends-logo {
  display: flex;
  align-items: flex-start;
}

.b-parent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.b-icon {
  height: 56px;
  width: 56px;
  position: relative;
}

.friends-icon {
  height: 35.5px;
  width: 210.4px;
  position: relative;
}

.rounded-rectangle {
  height: 100px;
  width: 1px;
  position: relative;
  background: #134053, rgba(255, 255, 255, 0.2);
}

.tagline {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 120%;
  background: #134053, rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.which {
  font-weight: 300;
}

.span {
  font-weight: 500;
}

.friend {
  font-family: 'Libre Bodoni';
}

.description {
  position: relative;
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 300;
  background: #134053, rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
}